.intro {
  font-style: italic;
  color: antiquewhite;
  background-color: black;
  text-decoration: underline;
  text-align: center;
  color: burlywood;
  background-color: navy;
}
}
title{
  font-style: normal;
  font-size: larger;
  align-items: center;

}
body{
    background-color: cadetblue;
    color: brown;
    color: lightgoldenrodyellow;
    font-size: unset;
    text-align: center;
    border: azure;
}
ul{
  float: centre;
}
.main{
  text-align:center
}
tbody{
  text-align: right;
}
body{
  mask-image: url(Assets/Images/Image1.png);
}
p{
  font-size: larger;
  font-weight: 300
}